body {
    color: #800000;
    background-color: #FFF8DC;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: #800000;
    text-align: center;
}

img {
    width: 32%;
}

.pruh {
    background-color: #ECD6CB
}

section {
    padding: 30px 15%;
}

.paticka {
    background-color: #ecd6cb;
    color: black;
    text-align: center;
    padding: 10px 0;
}

.hlavicka {
    padding: 150px 30px;
    background-image: url(../images/SK-TomášovskýVýhlad.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.hlavicka h2 {
    color: white;
}

.menu {
    text-align: center;
    background-color: #ECD6CB;

}

.menu li {
    display: inline-block;
}

.menu a {
    display:inline-block;
    color: #800000;
    text-decoration: none;
    padding: 20px 30px;
}